/* Document * Normalize & Reset style   ==============  */
       :root {
        --white: #ffffff;
        --pageBg:#fafafa;
        --drakBg:#030303;
        --premiere-color:#565656;
        --secondary-color:#F53335;
        --premiereText-color:#565656;
        --secondaryText-color:#757575;
        --premiereAction-color:#161f6e;

    
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
    }
    
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    * { box-sizing: border-box; font-family: 'Roboto', sans-serif; font-size:16px;}
    html {
        font-family: 'Roboto', sans-serif;   
        line-height: 1.3;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    body{margin:0; padding: 0;  font-family: 'Roboto', sans-serif; font-size:14px; font-weight:400; color:#414142; background-color: #ffffff; 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    html, body{width: 100%; height: 100%;}
    @-ms-viewport { width: device-width; }
      article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
    [tabindex="-1"]:focus { outline: 0 !important;}

/* Typography   ==============  */

       @font-face {
        font-family: "Roboto";
        src: local(Roboto Thin), url("fonts/roboto/Roboto-Thin.eot");
        src: url("fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("fonts/roboto/Roboto-Thin.woff") format("woff"), url("fonts/roboto/Roboto-Thin.ttf") format("truetype");
        font-weight: 200; }
      
      @font-face {
        font-family: "Roboto";
        src: local(Roboto Light), url("fonts/roboto/Roboto-Light.eot");
        src: url("fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Light.woff2") format("woff2"), url("fonts/roboto/Roboto-Light.woff") format("woff"), url("fonts/roboto/Roboto-Light.ttf") format("truetype");
        font-weight: 300; }
      
      @font-face {
        font-family: "Roboto";
        src: local(Roboto Regular), url("fonts/roboto/Roboto-Regular.eot");
        src: url("fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("fonts/roboto/Roboto-Regular.woff") format("woff"), url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
        font-weight: 400; }
      
      @font-face {
        font-family: "Roboto";
        src: url("fonts/roboto/Roboto-Medium.eot");
        src: url("fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("fonts/roboto/Roboto-Medium.woff") format("woff"), url("fonts/roboto/Roboto-Medium.ttf") format("truetype");
        font-weight: 500; }
      
      @font-face {
        font-family: "Roboto";
        src: url("fonts/roboto/Roboto-Bold.eot");
        src: url("fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("fonts/roboto/Roboto-Bold.woff") format("woff"), url("fonts/roboto/Roboto-Bold.ttf") format("truetype");
        font-weight: 700; }

h1{ font-size: 40px; line-height: 56;}
h2{ font-size: 32px; font-weight: 500;}
h3{ font-size: 24px; font-weight: 500;}
h4{ font-size: 20px; font-weight: 500;}
h5{ font-size: 16px; font-weight: 500;}

.uppercase{text-transform: uppercase;}

/*  Form Section  ==============  */

.search-input{border-color:#161f6e;}

/*  Link Section  ==============  */
a { color: #161f6e; text-decoration: none; background-color: transparent; cursor: pointer; outline:none; }
a:hover { color: #161f6e; text-decoration: none; }
a:active, a:hover { outline-width: 0; }
.nav-link{color: #161f6e;}

/*===========   */
body{ background: #ffffff;}
.page-layout{ display: block;}

.divider{height:1px; background:#87abbf; width:100%; }
/*  Header Section  ==============  */

header.navbar{display: block; width: 100%; background-image: linear-gradient(to top, #ffffff, #fdfdff, #fbfbff, #f9faff, #f7f8ff); margin:0; padding: 0;}
header .navbar-topbar { display: flex; width: 100%; }
header .navbar-topbar .topbar-wrap { padding:1rem 0; display: flex;width: 100%;flex-wrap: wrap;align-items: center;justify-content: space-between;}
.brand{ display: inline-flex;}
.brand img{  max-height: 60px;}

.topbar-wrap .nav .nav-link{ font-size: 1rem; color:#565656;}
.topbar-wrap .nav .nav-link:hover, .topbar-wrap .nav .nav-link:active{color: #161f6e; font-weight: 700; }
.topbar-wrap .nav .nav-link.active{color: #161f6e; font-weight: 700; text-decoration: none;}

.topbar-wrap .navbar-action .nav .nav-link:hover{color: #161f6e; font-weight: 400; }

.navbar-main{width: 100%; border-top: 1px solid #87abbf; border-bottom: 1px solid #87abbf;}
.navbar-wrap{display: flex;width: 100%;flex-wrap: wrap;align-items: center; padding:1rem 0;}

.navbar-search{ margin-left: auto; min-width: 270px;}

/*  Main Section  ==============  */
.main-wrapper{ padding-top: 2rem; padding-bottom: 2rem;}


/*  Footer Section  ==============  */

footer .footer-block .title{ color:#151f6d;}
footer .footer-block {color: #87abbf; font-size: 1rem; font-weight: 300;}
footer .footer-block .list-link{color: #87abbf;}
footer .footer-block.contact p{ margin-bottom: 0;}
footer .footer-block.contact a{color: #87abbf;}
footer .footer-block.contact .social-address{ margin-top: 1rem;}

footer .footer-block.corAddress{ padding-top: 22px;}